<% include partials/_header %>

</style>
<br>
<hr>
<div class="container">
  <h1 class="text-center">DIACO</h1>
  <h2>Nueva Queja</h2>
  <br>
  <p>Llena los siguientes datos del proveedor.</p>
</div>

<div class="container">
  
    <div class="card p-4">
      <h2>Datos del Proveedor</h2>
      <form action="/add" method="POST" class="row row g-3">
        
        <!--textbox empresa-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Empresa</label>
          <input type="text" name="name"  class="form-control" autofocus>
        </div>

        <!--textbox Razon Social-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Razon Social</label>
          <input type="text" name="address"  class="form-control">
        </div>

        <!--textbox NIT-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">NIT</label>
          <input type="text" name="phone"  class="form-control">
        </div>

        <!--textbox Direccion-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Direccion</label>
          <input type="text" name="name"  class="form-control" autofocus>
        </div>

        <!--textbox Telefono-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Telefono</label>
          <input type="text" name="address"  class="form-control">
        </div>

        <!--textbox Correo-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Correo</label>
          <input type="text" name="phone"  class="form-control">
        </div>

        <!--textbox Region-->
        <div class="form-group col-md-3">
          <label for="validationServer01" class="form-label">Region</label>
          <br>
          <select class=" bg-dark p-3 text-white " name="region" width=100% >
            <option selected>Seleccionar</option>
            <option value="1">central</option>
            <option value="2">sur</option>
            <option value="3">norte</option>
          </select>


        </div>

        <!--textbox Departamento-->
        <div class="form-group col-md-3">
          <label for="validationServer01" class="form-label">Departamento</label>
          <br>
          <select class=" bg-dark p-3 text-white" name="departamento">
            <option selected>Seleccionar</option>
            <option value="1">central</option>
            <option value="2">sur</option>
            <option value="3">norte</option>
          </select>
        </div>

        <!--textbox Municipio-->
        <div class="form-group col-md-3">
          <label for="validationServer01" class="form-label">Municipio</label>
          <br>
          <select class=" bg-dark p-3 text-white" name="Municipio">
            <option selected>Seleccionar</option>
            <option value="1">central</option>
            <option value="2">sur</option>
            <option value="3">norte</option>
          </select>
        </div>

        <!--textbox zona-->
        <div class="form-group col-md-3">
          <label for="validationServer01" class="form-label">Zona</label>
          <input type="text" name="phone"  class="form-control">
        </div>

        <div class="p-4  col-md-12">
          <h2>Datos de la Queja</h2>
        </div>
    
        <!--textbox No. de Documento-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Numero de Documento</label>
          <input type="text" name="name"  class="form-control" autofocus>
        </div>

        <!--textbox Fecha de Documento-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Fecha de Documento</label>
          <input type="text" name="address"  class="form-control">
        </div>

        <!--textbox Detalle-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Detalle</label>
          <input type="text" name="phone"  class="form-control">
        </div>

        <!--textbox Solicitud-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Solicitud</label>
          <input type="text" name="name"  class="form-control" autofocus>
        </div>

        <!--textbox Sede DIACO-->
        <div class="form-group col-md-4">
          <label for="validationServer01" class="form-label">Sede DIACO</label>
          <input type="text" name="address"  class="form-control">
        </div>




        <div class="  col-md-12">
          <button type="submit" class="btn btn-outline-success ">
            ENVIAR QUEJA
          </button>
        </div>
       
      </form>
    </div>
  
</div>



<% include partials/_footer %>
