<footer class=" bg-dark mt-5">
    <div class="container p-5 text-white">
        <p>PROYECTO DIACO UMG</p>
        <P>EDDY JOEL LOPEZ CACOJ </P>
        <P>CARNET: 0901-14-7459</P>
    </div>
    
</footer>
</body>
</html>
